:root {
  --primary-color: #0075e9;
  --accent-color: #e1261f;
  --text-color-dark: #070e2d;
  --text-color-light: #ffffff;
  --light-blue-color: #ebf4fd;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 auto;
}

h1,
h3 {
  font-family: "Montserrat", sans-serif;
}

h2,
h4,
h5,
p {
  font-family: "Karla", sans-serif;
}

header {
  background-image: url("../images/ted-lasso-hero.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  text-align: center;
  color: var(--text-color-light);
}

h1 {
  font-size: 128px;
  font-style: italic;
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--text-color-dark);
}

h4 {
  font-family: Monts;
  font-size: 24px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 5px;
  margin: 0;
}

p {
  font-size: 18px;
  font-weight: 300;
}

footer {
  background: var(--accent-color);
  color: var(--text-color-light);
  opacity: 0.9;
  padding: 100px 0;
  margin: 0;
}

footer h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

footer a {
  color: var(--text-color-light);
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

footer a:hover {
  opacity: 0.8;
}

footer p {
  font-size: 16px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero-caption {
  display: inline-flex;
  padding: 20% 5% 6% 5%;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 3%;
  justify-content: flex-end;
}

a.button {
  font-family: Karla;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  color: var(--text-color-light);
  text-decoration: none;
  text-transform: uppercase;
  background: var(--accent-color);
  padding: 16px 32px;
  margin: 40px auto;
  border-radius: 5px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

a.button:hover {
  color: var(--accent-color);
  background: var(--text-color-light);
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 30px;
}

@media (max-width: 1300px) {
  header {
    padding: 4% 0 0;
    background-size: cover;
    background-position: center;
  }
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
  }
  a.button {
    margin: 25px auto;
  }
  .hero-caption {
    gap: 10px;
  }
  .footer-grid {
    margin: 0 5%;
  }
}
@media (max-width: 1200px) {
  .container {
    padding: 40px;
  }
  footer {
    padding: 50px 0;
  }
}

@media (max-width: 900px) {
  header {
    padding: 6% 0 5%;
  }
  h1 {
    font-size: 62px;
  }
  h2 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  footer {
    padding: 40px 0;
  }
  a.button {
    font-size: 12px;
    padding: 12px 24px;
  }
  .hero-caption {
    margin-bottom: 2%;
  }
  .footer-grid {
    grid-template-columns: none;
    text-align: center;
    grid-gap: 5px;
  }
}
@media (max-width: 740px) {
  header {
    padding: 30% 0;
    background-size: cover;
    background-position: center;
  }
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 16px;
  }
  h4 {
    font-size: 14px;
  }
  a.button {
    font-size: 10px;
    padding: 12px 24px;
  }
  .hero-caption {
    padding-top: 36%;
    gap: 5px;
  }
}
